{% extends "layout.html" %} {% block body %}

<!-- fashion section start -->
<h6 class="shirt_text">PUJA BHANDAR at Borivali</h6>
<div class="fashion_section">
  <div id="main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner mt-4">
      <div class="carousel-item active">
        <div class="container">
          <h1 class="fashion_taital">Handmade Carry Bags</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Light Blue Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b1.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Dark Blue Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b2.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Dark Green Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b3.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Handmade Carry Bags</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">carry bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b4.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Purple Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b5.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Carry Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b6.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Handmade Carry Bags</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Green Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b7.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Red Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b8.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Greenish Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b9.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#main_slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#main_slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
<!-- fashion section end -->
<!-- electronic section start -->
<div class="fashion_section">
  <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <h1 class="fashion_taital">Twin Bags</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Orange Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626"> Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b10.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Purple Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626"> Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b11.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Orange Bag</h4>
                  <p class="price_text">
                    Price <span style="color: #262626"> Rs. 799</span>
                  </p>
                  <div class="tshirt_img"><img src="img/b10.jpg" /></div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Electronic</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Laptop</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="electronic_img">
                    <img src="images/laptop-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Mobile</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="electronic_img">
                    <img src="images/mobile-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Computers</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="electronic_img">
                    <img src="images/computer-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Electronic</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Laptop</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="electronic_img">
                    <img src="images/laptop-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Mobile</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="electronic_img">
                    <img src="images/mobile-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Computers</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="electronic_img">
                    <img src="images/computer-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#electronic_main_slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#electronic_main_slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
<!-- electronic section end -->
<!-- jewellery  section start -->
<div class="jewellery_section">
  <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <h1 class="fashion_taital">Jewellery Accessories</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Jumkas</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/jhumka-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Necklaces</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/neklesh-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Kangans</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/kangan-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Jewellery Accessories</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Jumkas</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/jhumka-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Necklaces</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/neklesh-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Kangans</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/kangan-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Jewellery Accessories</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Jumkas</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/jhumka-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Necklaces</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/neklesh-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Kangans</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 100</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="images/kangan-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#jewellery_main_slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#jewellery_main_slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
<!-- jewellery  section end -->
{% endblock %}
